* {
    font-family: Roboto, sans-serif;
}

.header {
    /* contains logo and header links ul */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

ul {
    /* contains li */
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 24px
}

a,
.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}

a {
    text-decoration: none;

}

.hero {
    background-color: #1F2937;
}




